<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nurturing.Mapper.PerfusionIndexMapper">

    <resultMap id="PerfusionIndexResultMap" type="com.nurturing.entity.PerfusionIndex">
        <result property="piData" column="pi_data"/>
        <result property="recordTime" column="record_time"/>
    </resultMap>

    <select id="selectRawPiByDate" resultMap="PerfusionIndexResultMap">
        SELECT pi_data, record_time
        FROM perfusion_index_data
        WHERE user_id = #{userId}
          AND DATE(record_time) = #{date}
        ORDER BY record_time ASC
    </select>
</mapper>
